
body{
    font-size: 12px;
    line-height: 2;
    height: 100%;
}
.fixeddiv{
    background: rebeccapurple;
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: none;
}
.fixeddivbg{
    background:rgba(0, 0,0, 0.6);
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    display: none;

}
button{border: 1px salmon solid;
margin: 0.3rem auto;}
#toast{
    background:rgba(0, 0,0, 0.6);
    position: fixed;
    height: 0.6rem;
    width: 60%;
    line-break: 0.6rem;
    top:50%;
    left:50%;
    margin-left: -30%;
    margin-top: -0.3rem;
    display: none;
    z-index: 5;
    color: #fff;
    text-align: center;
}
.relevantnews li {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.relevantnews li img {
    width: 1.5rem;
    height: 1.5rem;
}

.relevantnews li>div {
    width: 4.5rem;
    margin-left: 0.3rem;
}
.relevantnews li>div h4 {
    font-size: 0.32rem;
    line-height: 0.46rem;
    width: 100%;
}

.relevantnews li>div p {
    font-size: 0.24rem;
    display: flex;
    justify-content: space-between;
}
.closeform{
    padding-left: 0.6rem;
}