.top {
    position: fixed;
    top: 0;
    background: #202c3a;
    width: 100%;
    height: 1.24rem;
    display: none;
    z-index: 3;
}
.top img{
    width: 100%;
    height: 1.24rem;
}
.detail_main {
    /* margin-top: 1.2rem; */
    margin-bottom: 1.5rem;
}

.more{
    position: absolute;
    bottom:0;
    display: none;
    background:url("../image/img_content_arrow.png") no-repeat ;
    height: 2rem;
    background-size: 7.5rem 2rem;

    left:0;
    width: 7.5rem;
}
/* 单行隐藏 */
.sHide{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 多行隐藏 */
.mHide{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
 #goToTop {
    position: fixed;
    bottom: 1.32rem;
    right: 0.3rem;
    z-index: 3;
    width: 1.46rem;
    height: 1.46rem;
    background: url("../image/icon_to_up.png") no-repeat center;
    background-size: 1.46rem 1.46rem;
    display: none;
}

#goToTop a {
    font-size: 0.28rem;
    padding: 0.05rem;
    text-decoration: none;
}
.details{
    overflow: hidden;
    position: relative;
    padding: 0 0.3rem;
    font-size: 0.36rem;
    color: #333;
    text-align: justify;
    height: auto;
}
.details img{
    display: block;
    margin: 0 auto 0.6rem;
    width: 100%;
}
.details p{
   
    padding-bottom: 0.62rem;
}
/* 底部唤醒按钮 */
.applinkbtn,.collection{
    display: block;
    width: 6.9rem;
    height: 0.88rem;
    line-height: 0.88rem;
    background: #f7d782;
    color: #7b5903;
    font-size:0.34rem;
    border-radius:0.44rem;
    text-align: center;
    margin:0.6rem auto 0.8rem;
}
.applinkimg{
	display: block;
    width: 6.9rem;
    height:3.34rem;
    margin:0.6rem auto 0.8rem;
}
.collection{ 
    background:#f7d782 url("../image/icon_h5_heart.png") no-repeat 2.44rem center;
    background-size: 0.38rem 0.32rem;
    padding-left:3.14rem;
    text-align: left;

}
.summary{
    width: 6.9rem;
    padding: 0.3rem;
    margin: 0 auto 1rem;
    border-radius: 0.18rem;
    box-shadow: 0 0 0.18rem 0 rgba(182, 124, 0, 0.27);
    background: #fff;
}
.detail_main_top{
    padding: 0.32rem 0.3rem 0rem;
}

.release {
    display: flex;
    justify-content: space-between;
    padding: 0.35rem 0;
    font-size: 0.28rem;
}
.release p:nth-of-type(1){
    color:#291c01
}
.release p:nth-of-type(2){
    color:#786235;
}
.detail_main_top h2{
   color: #291c01;
   font-weight: bold;
   font-size: 0.46rem;
   line-height: 0.6rem;
   height: 1.2rem;
}
.tag{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}
.tag span {
    display: inline-block;
    margin-bottom: 0.4rem;
    margin-right: 0.4rem;
    padding: 0 0.4rem 0 0.4rem;
    text-align: center;
    height: 0.28rem;
    line-height: 0.6rem;
    max-width: 100%;
    height: 0.6rem;
    background: #f5f5f5;
    font-size: 0.28rem;
    color: #666;
    border-radius: 0.3rem;
}
.divid{
    background: #f5f5f5;
    border-bottom: #d9d9d9 1px solid;
    border-top: #d9d9d9 1px solid;
    height: 0.18rem;
}
.relevantnews h3{
    font-size: 0.38rem;
    font-weight: bold;
    color: #333;
    line-height: 0.38rem;   
}