body {
    font-size: 12px;
    line-height: 2;
    height: 100%;
}

.detail_main{
    background: url("../image/bg_successful_top.jpg") no-repeat center top;
    background-size: 100% auto;
}





.summary{
    padding:0 0 0.4rem;
    color: #999;
    font-weight: bold;
    font-size: 0.36rem;
    background:#fff;
    margin-bottom: 0.5rem;
}
.summary h3{
    border-top-left-radius: 0.18rem;
    border-top-right-radius: 0.18rem;
    height: 0.76rem;
    line-height:0.76rem;
    background: #fff5d9;
    color: #291c01;
    font-size: 0.34rem;
    font-weight: bold;
    text-align: center;
}
.summary ul{
    color: #333;
    font-size: 0.28rem;
 
}
.summary ul li{
    float: left;
}
.summary ul.stubg li:nth-of-type(1){
    width: 2.2rem;
    margin-right: 0.4rem;
}
.summary ul.stubg li:nth-of-type(2){
    margin-right: 0.4rem;
 }

 .summary ul.stupro li:nth-of-type(1){
    width: 2.2rem;
    margin-right: 0.4rem;
 }

.summary ul.stubg{
    padding: 0.26rem 0.24rem 0;
}
.summary ul.stupro{
    padding: 0.2rem 0.24rem 0;  
}

.summary p{
    padding-bottom: 0;
    width: 100%;
   
}
.summary ul li p:nth-of-type(1){
    font-size: 0.26rem;
    color: #aaa;
}
.admissioncon{
    
    padding: 0.36rem 0.14rem 0 0.24rem;

}
.admissioncon ul{
    width: 4.42rem;
    margin-right: 0.4rem;
    float: left;
}
.admissioncon>div{
    float: right;
}
.admissioncon ul li:nth-of-type(1),.admissioncon ul li:nth-of-type(2){
    margin-right: 0.4rem;
 }

.detail_main {
    margin-bottom: 0;
}
.noimg,.imgcon{
    padding-top: 0.3rem;
}
.noimg{
    width:1.7rem;
    height:2.36rem;
    background: url("../image/img_offer_default_new.png") no-repeat center top;
    background-size: 1.7rem 2.36rem;
}
.imgcon{
    width:1.7rem;
    height:2.36rem;
    background: url("../image/img_service_offer_new.png") no-repeat center top;
    background-size: 1.7rem 2.36rem;
}
.imgcon img{
    width: 1.28rem;
    height: 1.86rem;
    margin: 0 auto;
    display: block;
}

.relevantnews{
    padding: 0.8rem 0.3rem 0.3rem 0.25rem;
}
.relevantnews li {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;
}


.relevantnews li>div:nth-of-type(2) {
    width: 4.75rem;
}
.relevantnews li>div:nth-of-type(1) {
    margin-right: 0.5rem;
}
.relevantnews li>div h4 {
    font-size: 0.32rem;
    line-height: 0.45rem;
    width: 100%;
    color: #333;
    height: 0.9rem;
}

.relevantnews li>div p {
    font-size: 0.26rem;
    padding-top: 0.1rem;
    color: #999;

}
.relevantnews li>div p:nth-of-type(2) {
    font-size: 0.3rem;
    padding-top: 0.15rem;
    color: #666;

}
.relevantnews li>div p img{
    width: 0.42rem;
    height: 0.42rem;
    float: left;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
}

